.gradle
CREDITS-fml.txt
Flame.iml
Flame.ipr
Flame.iws
Flame.jar
LICENSE-fml.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt
README.txt
build
eclipse
flame_dojo.zip
forge-1.7.10-10.13.4.1541-1.7.10-changelog.txt
gradle
gradlew
gradlew.bat
out
Paulscode SoundSystem CodecIBXM License.txt
forge-1.8-11.14.3.1552-changelog.txt
Paulscode IBXM Library License.txt
run
gradle.properties